/* /src/components/App  */
/* patient card  */

/* Add this to a new CSS file, e.g., patientForm.css */
.patient-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.patient-form h4 {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 10px;
    
}

.patient-form label {
    display: block;
    margin-bottom: 8px;
    text-align: center;
}

.patient-form input {
    width: 95%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.patient-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 180px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;


}
.patient-form button:hover {
    background-color: #0056b3;
}

.patients {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 30vw;

}

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 250px;
}

.patients .patient-list {
    overflow-y: scroll; /* Enables vertical scrolling */
    max-height: 500px; /* Set a maximum height for scrolling */
    width: 85%; /* Optional: Adjust the width to fit your layout */
    border: 0px; /* Optional: Adds a border to differentiate the list */
    padding: 10px; /* Optional: Adds some spacing inside the list */
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
    scroll-behavior: smooth;
}